.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gameboard {
  display: inline-block;
  text-align: center;
  margin-right: auto;
  margin-top: -4px;
  width: 20px;
  height: 20px;
  border-color: #000000;
  background-color: rgb(121, 107, 107);
  border-width: 1px;
  border-style: solid;
}

.gameboard:hover {
  background-color: white;
}

.login-card {
  margin-top: 100px;
  width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.login-title {
  text-align: center;
  margin-top: 150px;
}

.status {
  margin-top: 15px;
  margin-bottom: 20px;
}

.error-list {
  margin-right: 100px;
  margin-left: 80px;
  color: red;
}

.signup-success-message {
  color: green;
}